@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: black;
}

div.scrollbar::-webkit-scrollbar {
  width: 10px;
}

div.scrollbar::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}
